.table {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;

  td {
    padding: 1%;
  }
}

ng-container {
  padding: 4%;
}

.two {
  text-align: center;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 18px;
}

.platter-list {
  display: flex;
}

.tablee {
  padding: 5%;
  margin: auto;
}
table.mat-table {
  border-spacing: 0;
  width: 100%;
}
